/* Estilos ContentLayout */
.content-layout {
    transition: margin-left 0.4s ease;
    flex-direction: column;
    background-color: var(--color-bg);
}

.content-layout--collapsed {
    margin: 4.5rem .3rem 0rem 5rem; /* arriba-derecha-abajo-izquierda */
}

.content-layout--expanded {
    margin: 4.5rem .3rem 0rem 15rem;
}

/* Estilos Section Title */
.section-title {
    color: var(--color-primary-dark) !important;
    font-size: 1.5rem !important;
    margin-bottom: 1rem !important;
    font-weight: 500 !important;
}

.section-title::after {
    display: none !important;
}

/* Estilos Page Header */
.page-header {
    display: flex;
    justify-content: space-between;
}

/* Estilos boton para crear o agregar */
.btn-add {
    background-color: var(--color-primary-light) !important;
    color: white !important;
    border: none;
    border-radius: var(--border-radius) !important;
    padding: 1rem 1.5rem !important;
    font-size: .9rem !important;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.4s, transform 0.2s;
    box-shadow: var(--shadow-sm) !important;
    margin:0;
    bottom: .4rem; 
}

.btn-add:hover {
    opacity: 0.8;
    color: white !important;
    background-color: var(--color-primary-dark) !important;
    box-shadow: var(--shadow-md) !important; 
}

.btn-add:active {
    transform: scale(0.98);
    background-color: var(--color-primary-light) !important; /* Cambia a verde oscuro al hacer clic */
}

/* Estilos botones de detalles*/
.btn-detail {
    background-color: transparent;
    border: 1px solid var(--color-primary) !important;
    color: var(--color-primary-dark);
    border-radius: var(--border-radius);
    padding: .3rem 1rem !important;
    font-size: .8rem !important;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}

.btn-detail:hover {
    background-color: var(--color-primary);
    color: white;
}

.btn-see-all {
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    color: var(--color-primary-dark);
    font-size: .8rem !important;
    font-weight: 500;
    cursor: pointer; 
    
}

.btn-see-all:hover {
    background-color: transparent !important;
    color: var(--color-primary) !important;
    text-decoration: none !important;
}

/* Estilos botones de acción en actuadores */
.btn-action {
    border: none;
    border-radius: var(--border-radius);
    padding: .3rem 3rem !important;
    font-weight: 500;
    cursor: pointer;
    text-transform: none !important;
    transition: all 0.10s ease !important;
    width: 100% !important;
    margin-top: .5rem;
    font-size: .8rem !important;
    box-shadow: var(--shadow-sm) !important;
}

.btn-action:hover {
    box-shadow: var(--shadow-md) !important;
    transform: scale(1.02);
}

.btn-secondary {
    background-color: var(--color-border);
}

.btn-secondary:hover {
    background-color: var(--color-white);
}

.btn-action.active {
    background: linear-gradient(135deg, var(--color-desactivated) 0%, var(--color-error) 100%);
    color: white;
}

.btn-action.inactive {
    background: linear-gradient(135deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);
    color: var(--color-white);
}