/* DashboardCards.css - Estilos específicos para las cards del dashboard */

/* Cards Section */
.cards-container-dashboard {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.card {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm);
    padding: 1rem;
    flex: 1;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: var(--shadow-lg);
    transform: translateY(-2px);
    transition: transform 0.2s, box-shadow 0.3s;
}

.card-title {
    color: var(--color-text-light) !important;
    font-size: 1rem !important;
    margin-bottom: .8rem !important;
    display: flex;
    align-items: center;
}

.card-title .anticon { /* Icono dentro del título de la card */
    margin-right: .5rem; 
    color: var(--color-primary-dark);
    font-size: 1rem !important;
}

.card-value { 
    font-size: 1.8rem !important;
    font-weight: 500;
    color: var(--color-primary-dark);
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-footer {
    font-size: .8rem !important;
    color: var(--color-text-light);
    background-color: var(--color-white) !important;
    border-top: 1px solid var(--color-primary) !important;
    margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .cards-container-dashboard {
        flex-direction: column;
    }
}
