@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Med';
    src: url('/fonts/RobotoMed3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}