/* Estilos para el grid y tarjetas de actuadores */

/* Acciones de contenedor */
.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Grid de tarjetas */
.actuator-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Tarjeta de actuador */
.actuator-card {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm);
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.actuator-card:hover {
    box-shadow: var(--shadow-md);
}

.actuator-card.selected {
    border: .1rem solid var(--color-primary);
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
}

.actuator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.actuator-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-primary-dark);
    margin: 0;
    display: flex;
    align-items: center;
}

.actuator-id {
    font-size: 12px;
    color: var(--color-text-light);
    background-color: var(--color-container);
    padding: 4px 8px;
    border-radius: 12px;
}

.actuator-content {
    margin-bottom: 15px;
}

.actuator-item {
    display: flex;
    margin-bottom: 10px;
}

.actuator-item:last-child {
    margin-bottom: 0;
}

.actuator-label {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-light);
    width: 80px;
}

.actuator-value {
    font-size: 14px;
    color: var(--color-text);
}

/* Iconos de tipo de actuador */
.type-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}
